/.console_history
/.vscode/
/backups/
/bundler/
/crash-reports/
/debug/
/libraries/
/timings/
/versions/
logs/
cache/

# World folders
/world/
/world_nether/
/world_the_end/

# Hidden config files
server.properties
usercache.json
version_history.json
whitelist.json
banned-ips.json
banned-players.json

# Binary files
*.sqlitedb
*.sqlite
*.sqlite3
*.db

# Plugin files
.archive-unpack/
*.schem
*/WorldEdit/sessions/*.json
